# 忽略 sdxl_models 目录下的所有内容，但保留目录结构
sdxl_models/*
!sdxl_models/.gitkeep

# 忽略 models 目录下的所有内容，但保留目录结构
models/*
!models/.gitkeep

# 忽略 checkpoints 目录下的所有内容，但保留目录结构
checkpoints/*
!checkpoints/.gitkeep

# 忽略所有 __pycache__ 目录
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

/StyleBench
/demo_assets/texture
/demo_assets/depths
/data
/batch_outputs
/batch_outputs2
/batch_outputs3
/batch_outputs4
/batch_outputs44
/batch_outputs4444
/batch_outputs44444
/batch_outputs6prompt
/copy
/data/depths
/semanticimage



infer-text.py
infer-inverse.py
infer-CLIP-thing.py
infer-CLIP-thing_trial.py
genmini.py
gemini-text.py
custom_gemini2.py
custom_gemini.py
config copy.json
注意力思路.txt
attention_processor.py
visualization_results.html
SCORE.py
input_preview.png
input.png
init.png
synergy_output.png
output.png
